p {
      font-family: Poppins, Roboto, Arial;
      margin-top: 0;
      margin-bottom: 0;
    }
    body{
      margin: 0;
      padding-top: 80px;
      padding-left: 96px;
      padding-right: 24px;
      background-color: rgb(244, 244, 244);
    }


    /* =========================
   TABLET & MOBILE
========================= */

@media (max-width: 768px) {
  body {
    padding-top: 60px;
  }
}

@media (max-width: 480px) {
  body {
    padding-top: 55px;
  }
}
